* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  background-color: #5cb85c;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2em;
  color: #5cb85c;
  margin-bottom: 20px;
}

.divider {
  border-top: 2px solid #5cb85c;
  margin: 20px 0;
}

.card {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #fff;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card p {
  margin: 10px 0;
  color: #ccc;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 10px);
}

.payment-button {
  background-color: #0040ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.card:nth-child(3n) {
  margin-left: auto;
}

.footer {
  background-color: #5cb85c;
  color: #fff;
  padding: 20px;
  text-align: center;
}
